<div class="container">
  <div class="row">
    <div class="title col-12  mt-3 mb-3">
      <h1>Our Services</h1>
      <p>Lorem ipsum sizi elmi,tarixi mətnlərinizin, məqalələrinizin, eləcə də sənət əsərinizin xülasəsini yaratmaqla və təhlil etməklə  təmin edir.  Sənədlərinizin mühüm ideya və faktlarını müəyyənləşdirməyə və ümumiləşdirməyə kömək edir. Tez bir zamanda, 1 kliklə əsas ideyaya keçin!</p>
    </div>
    <!-- <div class="col-12 service">

    </div>
    <div class="col-12 service"></div>
    <div class="col-12 service"></div>
    <div class="col-12 service"></div> -->
</div>
</div>
