<form [formGroup]="form">
  <div class="container">
    <div class="row">
      <div class="title col-12">
        <h1>
          Mətnlərinizdəki əsas fikirlərə keçin, onları 1 kliklə «müvafiq olaraq» xülasəsini yaradın
        </h1>

        <button class="btn submitBtn" (click)="toText()">
         Mətn və ya Fayl
        </button>
      </div>
      <div *ngIf="text" class="col-lg-6 col-md-12 col-sm-12 col-12 mb-5">
        <div pb="24px">
          <span class="minmax"
            >Minimum 10 simvol & Maximum 5000 simvol</span
          >
          <textarea
            placeholder="Mətninizi və ya məqalənizin URL-ni kopyalayıb buraya yapışdırın."
            class="area"
            formControlName="text"
          ></textarea>
          <div>
            <div class="row">
              <div class="col-3">
                <p>Cümləyə görə</p>
              </div>
              <div class="col-9">
                <input
                  class="limitInput"
                  type="number"
                  (ngModelChange)="sentenceLimit($event)"
                  formControlName="sentenceLimit"
                />
              </div>
            </div>
            <div class="row">
              <div class="col-3">
                <p>Faizə görə</p>
              </div>
              <div class="col-9">
                <input
                  class="limitInput"
                  type="number"
                  (ngModelChange)="percentLimit($event)"
                  formControlName="percentLimit"
                />
              </div>
            </div>
          </div>

          <div class="col-12 d-flex justify-content-between">
            <!-- <span class="maximum">Maximum 2000 characters</span> -->
            <button class="btn submitBtn" (click)="clearText()">
              Mətni yenilə
            </button>
            <button
              [disabled]="!this.form.valid"
              class="btn submitBtn"
              (click)="post()"
            >
              Xülasə et
            </button>
          </div>
        </div>
      </div>
      <div *ngIf="!text" class="col-lg-6 col-md-12 col-sm-12 col-12 mb-5">
        <div pb="24px">
          <label class="files" for="files">
            <img src="/assets/img/adobe.png" alt="pdf" />
            <span>{{ file?.name }}</span>
            <input
              type="file"
              accept="application/pdf"
              name="files"
              id="files"
              formControlName="files"
              (change)="handleFileInput($event)"
            />
          </label>
          <div class="row">
            <div class="col-3">
              <p>Faizə görə</p>
            </div>
            <div class="col-9">
              <input
                class="limitInput"
                type="number"
                (ngModelChange)="percentLimit($event)"
                formControlName="percentLimit"
              />
            </div>
          </div>

          <div class="col-12 d-flex justify-content-between">
            <!-- <span class="maximum">Maximum 2000 characters</span> -->
            <button
              [disabled]="!file"
              class="btn submitBtn"
              (click)="filePost()"
            >
              Xülasə et
            </button>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-12 col-sm-12 col-12">
        <div pb="24px">
          <span class="summerized">Xülasə</span>
          <textarea class="area">{{ resizeText }}</textarea>
        </div>
      </div>
    </div>
  </div>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
</form>
