
<div style="height: 80vh;" [style.visibility]="displayNavbar == '1' ? 'visible' : 'hidden'">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <button mat-icon-button (click)="sidenav.toggle()" fxShow="true" fxHide.gt-sm>
        <mat-icon>menu</mat-icon>
      </button>
      <span>Poçt Qutusu</span>
      <span class="menu-spacer"></span>
      <form class="example-form">
        <input type="text"
               placeholder="Search for a street"
               [formControl]="control"
               [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let street of filteredStreets | async" [value]="street">
            {{street}}
          </mat-option>
        </mat-autocomplete>
      </form>
      <div fxShow="true" fxHide.lt-md>

        <!-- The following menu items will be hidden on both SM and XS screen sizes -->
        <a href="#" mat-button>Home</a>
        <a href="/books" mat-button>Books</a>
        <a href="/articles" mat-button>Articles</a>
        <a href="/blogs" mat-button>Video Blogs</a>
        <a href="/news" mat-button>News</a>
        <a href="/paper" mat-button>Paper</a>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-sidenav-container fxFlexFill>
    <mat-sidenav #sidenav>
      <mat-nav-list>
        <a (click)="sidenav.toggle()" mat-list-item>Close</a>
        <a href="#" mat-list-item>Home</a>
        <a href="#" mat-list-item>Books</a>
        <a href="#" mat-list-item>Articles</a>
        <a href="#" mat-list-item>Video Blog</a>
        <a href="#" mat-list-item>News</a>
        <a href="#" mat-list-item>Paper</a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content fxFlexFill>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>

