.menu-spacer {
  flex: 1 1 auto;
}
.mat-toolbar.mat-primary {
  background-image: linear-gradient(to right,#ff7854 0,#ff5079 100%);
}
mat-sidenav{
  width: 200px;
}
a:hover {
  color: white;
}
input {
  font-size: 16px;
  color: #434a5e;
  border: none;
  padding: 10px;
  border-radius: 20px;
  width: 300px;
}
input:focus-visible{
  outline: none;
}
mat-sidenav-content{
  height: 100vh;
  overflow: inherit;
}
